@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-my-white1: #fdf9ee;
  --color-my-white2: #fdf6e3;
  --color-my-green1: #259101;
  --color-my-green2: #0f3524;
  --color-my-black1: #2a2a2d;
  --color-my-black2: #1f1f1f;
  --color-my-orange1: #fb9e3a;
  --color-github-highlight: #104c35;
  --color-linkedin-highlight: #1566c2;
  --color-lightmode-text-col1: #1e293b;
  --color-lightmode-text-col2: #71717a;
  --color-darkmode-text-col1: #e2e8f0;
  --color-darkmode-text-col2: #8c9eba;
  --font-alumni: "Alumni Sans Pinstripe";
  --font-tinos: "Tinos";
  --font-space-mono: "Space Mono";
}

/* Transition Animation Colours */
@layer base {
  *,
  *::before,
  *::after {
    @apply transition-colors duration-400;
  }
  html,
  body {
    @apply bg-my-white1 dark:bg-my-black1; /* Or your dark color */
    min-height: 100vh;
  }
}
